body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #090909;
    color: #eee;
}

.container {
    width: 100%;
    margin: auto;
    padding: 18px;
    box-sizing: border-box;
}

.titlebar {
    position: fixed;
    align-items: left;
    justify-content: left;
    display: flex;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    gap: 8px;
}

.icon {
    position: relative;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #122;
    border-radius: 12px;
}

.icon img {
    position: absolute;
    width: 18px;
    height: 18px;
    filter: invert(1);
    transition:
        opacity 0.25s ease,
        transform 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.icon img.regular {
    opacity: 0;
    transform: translateY(0);
}

.icon img.solid {
    transform: translateY(0);
}

.icon:hover img.solid {
    opacity: 0;
    transform: translateY(-3px);
}

.icon:hover img.regular {
    opacity: 1;
    transform: translateY(-3px);
}